@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

body
{
    margin:0;
    font-family: 'Roboto Light';
}

a
{
    text-decoration: none;
    color: black;
}

p
{
    text-align: justify;
    font-size: 20px;
    line-height: 35px;
}

h1, h2
{
    font-family: 'Allison', sans-serif;
    font-weight: normal;
    font-size: 80px;
}

/* ------------------ MENU ------------------ */
#mobile-menu
{
    display: none;
}

nav
{
    margin-top: 20px;
    width: 100%;
    position: absolute;
    z-index: 30;
}
nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 100px;
}

nav a
{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

nav a:hover
{
    font-weight: bold;
}

.sticky {
    position: fixed;
    top: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

/* ------------------ RESERVATION RIAD ------------------ */

.container
{
    margin: 30px 10%;
}

.res-riad
{
    display: flex;
    justify-content: space-evenly;
    column-gap: 50px;
    margin-bottom: 50px;
}

.riad-imgs img
{
    width: 492px;
    height: 327px;
}

.relative-img
{
    position: relative;
    z-index: 10;
}

.absolute-img
{
    margin-top: -93px;
    margin-left: 86px;
    z-index: 1;
}

.riad-description h1
{
    margin-bottom: 100px;
    margin-top: 0;
}

.riad-description h1::after
{
    display: block;
    height: 5px;
    width:20%;
    background-color: black;
    content: '';
}

.riad-description p
{

    margin-bottom: 35px;
    font-size: 20px;
}

.riad-description a
{
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
}

.riad-description a:hover
{
    background-color: #C1A253;
    color: white;
}

/* ------------------ BANNER RIAD ------------------ */

.riad-banner
{
    position: relative;
    width: 100%;
    height: 417px;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.7)), url("../images/riad-patio.jpg") fixed no-repeat;
    background-size: cover;
    background-position: 0 80%;
}

.riad-banner h2
{
    position: absolute;
    font-family: 'Allison', sans-serif;
    font-weight: normal;
    font-size: 80px;
    top: 0;
    left: 50%;
    color: white;
    text-align: center;
    transform: translate(-50%, 0);
    width: 100%;
}

/* ------------------ RESTAURANT ------------------ */

.restaurant
{
    background-color: #C1A253;
    padding-bottom: 20px;
    margin-bottom: 2px;
}

.restaurant h1, .patio h1, .patio h2, .salons h1, .salons h2, .terrasse h1, .terrasse h2
{
    text-align: center;
}

#image-restaurant, #image-patio, #image-salons, #image-terrasse
{
    margin: auto;
}

/* ------------------ PATIO ------------------ */

.patio
{
    background-color: #232323;
    padding-bottom: 20px;
    margin-bottom: 2px;
}

.patio > *
{
    color: white;
}

.patio .container, .salons .container, .terrasse .container
{
   margin-top: 0;
}
.patio h1, .salons h1, .terrasse h1
{
    margin-top: 0;
}

.patio h2, .salons h2, .terrasse h2
{
    font-size: 40px;
}

/* ------------------ SALONS ------------------ */

.salons
{
    background-color: #E8E8E8;
    padding-bottom: 20px;
    margin-bottom: 2px;
}

/* ------------------ TERRASSE ------------------ */

.terrasse
{
    background-color: white;
    padding-bottom: 20px;
    margin-bottom: 2px;
}

/* ------------------ BANNER OFFRES------------------ */

.offre-trait
{
    margin: 2px 0;
    height: 3px;
    background-color: #C1A253;
    width: 100%;
}

.offre-banner
{
    width: 100%;
    height: 100px;
    background-color: #C1A253;
    position: relative;
}

.offre-banner h1
{
    width: 100%;
    position: absolute;
    font-family: "Roboto Light";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 60px;
    text-align: center;
}

/* ------------------ PACK CARD------------------ */

.pack-card
{
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.pack-title
{
    width: 272px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
}

.pack-title h1
{
    font-family: "Roboto Light";
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.pack
{
    position: relative;
}

.pack img
{
    width: 369px;
    height: 206px;
    display: block;
}

.pack-description
{
    height: 334px;
    width: 369px;
    background-color: #C1A253;
}

.pack p
{
    padding: 20px;
    margin: 0;
    line-height: 153%;
}

/* ------------------ FOOTER ------------------ */

footer
{
    width: 100%;
    background-color: #232323;
    text-align: center;
    padding-top: 10px;
    position: relative;
}

footer img
{
    position: absolute;
    right: 0;
    top: 10%;
}
footer i
{
    color: white;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    margin: 15px;
    font-size: 30px;
}

footer .reseaux::after, footer .content::after
{
    content: "";
    display: block;
    height: 1px;
    width: 75%;
    background-color: white;
    text-align: center;
    margin: 15px 50%;
    transform: translateX(-50%);
}

.footer-content
{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-section
{
    width: 300px;
    color: white;
    text-align: left;
    font-size: 20px;
    color: #C1A253;
}



.footer-section p, .footer-section a
{
    font-size: 16px;
    color: white;
    text-align: left;
}

footer p
{
    text-align: center;
    color: #4B4B4B;
    font-size: 18px;
}

footer .copyright
{
    background-color: #C1A253;
}

footer .copyright p
{
    color: black;
    padding: 20px;
    margin: 0;
}

#scrollUp
{
    display: none;
    position: fixed;
    bottom : 10px;
    right: 20px;
}

/* ------------------ CHAMBRES ------------------ */

.chambres-banner
{
    position: relative;
    width: 100%;
    height: 50vh;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.7)), url("../images/chambre1.jpg") fixed no-repeat;
    background-size: cover;
    background-position: 0 120%;
}

.l-chambres, .r-chambres
{
    position: relative;
    width: 100%;
    height: 346px;
    margin: 50px 0;
}

.description_chambres
{
    position: absolute;
    border: 2px solid black;
    height: 220px;
    padding: 0 20px;
    top: 50%;
    transform: translateY(-50%);
}

.l-chambres .description_chambres
{
    left: 450px;
    background-color: #C1A253;
}

.description_chambres h2
{
    font-size: 40px;
    margin: 0;
}

.description_chambres span a
{
    color: #C1A253;
}

.l-chambres .description_chambres span a
{
    float: right;
    color: white;
}

.r-chambres section
{
    position: absolute;
    width: 519px;
    height: 346px;
    right: 0;
}

.r-chambres .description_chambres
{
    right: 450px;
    background-color: #F5F5F5;
}

/* ------------------ RESERVATION CHAMBRES ------------------ */

.reservation-chambres
{
    background: no-repeat url("../images/reservation.jpg");
    background-size: cover;
    background-position: center;
    height: 860px;
}
.reservation-chambres h1
{
    text-align: center;
    color: white;
}