@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

body
{
    margin:0;
    font-family: 'Roboto Light';
}

a
{
    text-decoration: none;
    color: black;
}

p
{
    text-align: justify;
    font-size: 20px;
}

h1, h2
{
    font-family: 'Allison', sans-serif;
    font-weight: normal;
    font-size: 80px;
}

/* ------------------ MENU ------------------ */

nav
{
    margin-top: 20px;
    width: 100%;
    position: absolute;
    z-index: 30;
}
nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    column-gap: 100px;
}

nav a
{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

nav a:hover
{
    font-weight: bold;
}

.sticky {
    position: fixed;
    top: 20px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

/* ------------------ RESERVATION RIAD ------------------ */

.container
{
    margin: 30px 10%;
}

.res-riad
{
    display: flex;
    justify-content: space-between;
    column-gap: 50px;
    margin-bottom: 100px;
}

.riad-imgs img
{
    width: 492px;
    height: 327px;
}

.relative-img
{
    position: relative;
    z-index: 10;
}

.absolute-img
{
    margin-top: -93px;
    margin-left: 86px;
    z-index: 1;
}

.riad-description h1
{
    margin-bottom: 100px;
}

.riad-description h1::after
{
    display: block;
    height: 5px;
    width:8%;
    background-color: black;
    content: '';
}

.riad-description p
{

    margin-bottom: 35px;
}

.riad-description a
{
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
}

.riad-description a:hover
{
    background-color: #C1A253;
    color: white;
}

/* ------------------ BANNER RIAD ------------------ */

.riad-banner
{
    position: relative;
    width: 100%;
    height: 417px;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.7)), url("../images/riad-patio.jpg") fixed no-repeat;
    background-size: cover;
    background-position: 0 80%;
}

.riad-banner h2
{
    position: absolute;
    font-family: 'Allison', sans-serif;
    font-weight: normal;
    font-size: 80px;
    top: 0;
    left: 50%;
    color: white;
    text-align: center;
    transform: translate(-50%, 0);
    width: 100%;
}

/* ------------------ RESTAURANT ------------------ */

.restaurant
{
    background-color: #C1A253;
    padding-bottom: 20px;
    margin-bottom: 2px;
}

.restaurant h1, .patio h1, .patio h2, .salons h1, .salons h2
{
    text-align: center;
}

#image-restaurant, #image-patio, #image-salons
{
    margin: auto;
}

/* ------------------ PATIO ------------------ */

.patio
{
    background-color: #232323;
    padding-bottom: 20px;
    margin-bottom: 2px;
}

.patio > *
{
    color: white;
}

.patio .container, .salons .container
{
   margin-top: 0;
}
.patio h1, .salons h1
{
    margin-top: 0;
}

.patio h2, .salons h2
{
    font-size: 40px;
}

/* ------------------ SALONS ------------------ */

.salons
{
    background-color: #E8E8E8;
    padding-bottom: 20px;
    margin-bottom: 2px;
}